

.auth-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.auth-card {
  width: 24em;
}
