.pad-content {
  margin: 2em;
}

.center-content {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}


.quiz-form-container {
  width: 32em;
}
