/* You can add global styles to this file, and also import other style files */

body {
  background: var(--surface-b);
}

.field-container {
  margin-top: 1em;
  margin-bottom: 1em;
}

.form-submit-button-container {
  display: flex;
  justify-content: center;
}

.pad-content {
  margin: 2em;
}

.center-content {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.quiz-form-container {
  width: 32em;
}

.field-checkbox {
  padding-top: 0.5em;
}

.field-checkbox-label {
  padding-left: 0.5em;
}
