<p-toast></p-toast>
<p-table [value]="quizzes" styleClass="p-datatable-gridlines">
  <ng-template pTemplate="header">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Submissions</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-quiz>
    <tr>
      <td>{{quiz.id}}</td>
      <td>{{quiz.name}}</td>
      <td>{{quiz.description}}</td>
      <td>{{quiz.submissions.length}}</td>
      <td>
        <button
          ngxClipboard [cbContent]="shareUrl(quiz)"
          (click)="notifyClipboardCopy()"
          pButton type="button"
          icon="pi pi-share-alt"
          class="icon-button p-button-raised p-button-rounded">
        </button>
        <button
          [routerLink]="'/quiz/' + quiz.id"
          pButton type="button"
          icon="pi pi-arrow-right"
          class="icon-button p-button-raised p-button-rounded">
        </button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="8">No user quizzes found.</td>
    </tr>
  </ng-template>
</p-table>
