<p-toast></p-toast>
<div class="p-fluid field-container">
  <label for="signup-email-field">Email</label>
  <input pInputText id="signup-email-field" type="email" [(ngModel)]="email">
</div>
<div class="p-fluid field-container">
  <label for="signup-fullname-field">Full name</label>
  <input pInputText id="signup-fullname-field" type="text" [(ngModel)]="fullName">
</div>
<div class="p-fluid field-container">
  <label for="signup-password-field">Password</label>
  <input pInputText id="signup-password-field" type="password" [(ngModel)]="password">
</div>
<p-messages [(value)]="errors" [enableService]="false"></p-messages>
<div class="form-submit-button-container">
  <p-button label="Sign up" [loading]="loading" (click)="submit()">
  </p-button>
</div>
