<div class="p-fluid field-container">
  <label for="login-email-field">Email</label>
  <input pInputText id="login-email-field" type="text" [(ngModel)]="email">
</div>
<div class="p-fluid field-container">
    <label for="login-password-field">Password</label>
    <input pInputText id="login-password-field" type="password" [(ngModel)]="password">
</div>
<p-messages [(value)]="errors" [enableService]="false"></p-messages>
<div class="form-submit-button-container">
  <p-button label="Login" [loading]="loading" (click)="submit()">
  </p-button>
</div>
