<p>{{ question.content }}</p>
<div *ngIf="question.type === 'free_text'">
  <p id="free-text-field">{{ answer.content }}</p>
</div>
<div *ngIf="question.suggestions !== undefined">
  <div *ngFor="let suggestion of question.suggestions">
    <div *ngIf="question.type == 'multi_choice'">
      <div class="field-checkbox">
        <p-checkbox
          [(ngModel)]="multipleSuggestionIds"
          [disabled]="true"
          [name]="suggestion.id.toString()"
          [value]="suggestion.id.toString()"
          [inputId]="suggestion.id.toString()">
        </p-checkbox>
        <label class="field-checkbox-label" [for]="suggestion.id.toString()">{{ suggestion.content }}</label>
      </div>
    </div>
    <div *ngIf="question.type == 'single_choice'">
      <div class="field-checkbox">
        <p-radioButton
          [(ngModel)]="singleSuggestionId"
          [disabled]="true"
          [name]="suggestion.id.toString()"
          [value]="suggestion.id.toString()"
          [inputId]="suggestion.id.toString()">
        </p-radioButton>
        <label class="field-checkbox-label" [for]="suggestion.id.toString()">{{ suggestion.content }}</label>
      </div>
    </div>
  </div>
</div>
